* {
    box-sizing: border-box;
    font-size: 18px;
    font-family: Segoe UI;
}

.col {
    background-color: white;
    padding: 18px;
}

.col--left {
    width: 30%;
    border-right: 2px solid #f0f0f0;
}

.col--right{
    width: 70%;
}

.row {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
}
.row::after {
    content: "";
    clear:both;
    display:table;
}

.profile--img {
    width: 420px;
    margin: -45px 0 0 -120px;
}

.profile {
    position: relative;
    box-sizing: content-box;
    width: 72px;
    height: 72px;
    border: 2px solid black;
    border-radius: 100%; 
    overflow: hidden;
}
