* {
    box-sizing: border-box;
    font-size: 18px;
    font-family: Segoe UI;
}
.row {
    max-width: 1050px;
    margin: 0 auto;
    display: flex;
}
.row::after {
    content: "";
    clear:both;
    display:table;
}

.profile--img {
    width: 80px;
    object-fit:scale-down;
    /*border-radius: 100%; */
}

.profile {
    box-sizing: content-box;
    width: 80px;
    border: 2px solid black;
}
